<template>
    <div class="container">
        <app-header :quoteCount="quotes.length" :maxQuotes="maxQuotes"></app-header>
        <app-new-quote @quoteAdded="newQuote"></app-new-quote>
        <quote-grid-app :quotes="quotes" @quoteDeleted='deleteQuote'></quote-grid-app>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="alert alert-info">
                    Info: click on a Quote to Delete it!
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import QuoteGrid from './component/QuoteGrid.vue';
    import NewQuote from './component/NewQuote.vue';
    import Header from './component/Header.vue';

    export default {
        data: function() {
           return {
               quotes: [
                   'Just a quote to see something'
               ],
               maxQuotes: 10,
           }
       },
       methods: {
           newQuote(quote) {
               if(this.quotes.length >= this.maxQuotes) {
                   return alert('Please delete Quotes first!');
               }
               this.quotes.push(quote);
           },
           deleteQuote(index) {
               this.quotes.splice(index, 1);
           }
       },
       components: {
           quoteGridApp: QuoteGrid,
           appNewQuote: NewQuote,
           appHeader: Header,
       } 
    }
</script>

<style>
</style>
